<h1>Add</h1>

<form action="/add_more/addApps">
<div class="grid-container">
  <% $nonDefaultApps.each do |app| %>
    <div class="app-container" >
  <input type="checkbox" id="<%= app.id %>"></input>
  <div class="content-container">
    <a href="<%= app.link %>" class="app-name"><%= app.name %></a>
    <img class="app-image" src="<%= app.image %>"></img>
    <p><%= app.description %></p>
    </div>
    
  
  </div>


  <% end %>
</div>
<button type="submit">Submit</button>
</form>

<form action="/add_more/cancel">
<button type="submit" >Cancel</button>
</form>