<h1>Add</h1>

<form action="/add_more/cancel">
<div class="grid-container">
  <% $nonDefaultApps.each do |app| %>
    <div class="app-container grow" >
  <input type="checkbox" id="<%= app.name %>"></input>
  <div class="content-container">
    <a href="<%= app.link %>" class="app-name" target="blank"><%= app.name %>
    <img class="app-image" src="<%= app.image %>"></img>
    <p class='app-description'><%= app.description %></p>
    </a>
    </div>
    
  
  </div>


  <% end %>
</div >
<div class="button-container">
<button type="submit" class='submit-button'>Submit</button>
</form>

<form action="/add_more/cancel">
<button type="submit" class='cancel-button'>Cancel</button>
</form>
</div>