<h1>Add</h1>

<form>
<div class="grid-container">
  <% $nonDefaultApps.each do |app| %>
    <div class="app-container" >
  <input type="checkbox" id="<%= app.id %>"></input>
  <div class="content-container">
    <a href="<%= app.link %>" class="app-name"><%= app.name %></a>
    <img class="app-image" src="<%= app.image %>"></img>
    <p><%= app.description %></p>
    </div>
    
  
  </div>


  <% end %>
</div<

</form>

<form>
<button type="submit" action="/back">Cancel</button>
</form>