<h1>App-etizer</h1>

<form action="/add_more">
<button class="add-more-button" type="submit" >Add More</button>
</form>


<div class="grid-container">
<% $defaultApps.each do |app| %>
  <div class="app-container" >
  <form action = "home/delete">
  <input type = "hidden" name="name" value = "<%= app.name%>"></input>
  <button class="remove-button"></button>
  </form>
  <div class="content-container">
    <a href="<%= app.link %>" class="app-name"><%= app.name %></a>
    <img class="app-image" src="<%= app.image %>"></img>
    <p><%= app.description %></p>
    </div>
    
  
  </div>

  <% end %>
  </div>
  <br></br>
  <p><%=$user.login %></p>
  <p><%=$user.id %></p>
  <p><%= $userApps %></p>

  

