<h1>App-etizer</h1>

<form action="/add_more">
<button class="add-more-button" type="submit" >Add More</button>
</form>


<div class="grid-container">
<% $defaultApps.each do |app| %>
  <div class="app-container grow" >
  <form >
  <input type = "hidden" name="name" value = "<%= app.name%>"></input>
  <button class="remove-button"></button>
  </form>
  <div class="content-container">
    <a href="<%= app.link %>" class="app-name" target="blank"><%= app.name %>
    <img class="app-image" src="<%= app.image %>"></img>
    <p class="app-description"><%= app.description %></p>
    </a>
    </div>
    
  
  </div>

  <% end %>
  </div>
 

  

